@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; }

button:focus {
  outline: none; }

.main {
  display: flex; }

.header {
  height: 10vh;
  background-color: #2f3242;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-logo {
  margin-left: 26px; }

.header-menu {
  display: flex;
  align-items: center; }

.header-menu__add {
  margin-right: 55px;
  width: 133px;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #2196f3;
  background-color: #2f3242;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s; }

.header-menu__add:focus {
  outline: none; }

.header-menu__add:hover {
  background-color: #2d3040;
  border: 2px solid #21c2f3; }

.header-menu__add-plus {
  margin-left: 27px;
  font-size: 18px;
  color: #2196f3; }

.header-menu__search, .header-menu__notification {
  margin-right: 55px;
  background-color: white;
  -webkit-mask: url("../../images/header/search.svg") no-repeat center;
  mask: url("../../images/header/search.svg") no-repeat center;
  height: 27px;
  width: 27px;
  /*background-color: #2f3242;*/
  border: none;
  cursor: pointer;
  transition: 0.2s; }

.header-menu__notification {
  -webkit-mask: url("../../images/header/bell.svg") no-repeat center;
  mask: url("../../images/header/bell.svg") no-repeat center;
  height: 32px;
  width: 32px; }

.header-menu__search:hover,
.header-menu__notification:hover {
  background-color: #9ca1b2; }

.header-menu__user {
  margin-right: 12px;
  width: 56px;
  height: 56px; }

.header-menu__arrow {
  background-image: url("../../images/arrowbottom.png");
  width: 12px;
  height: 8px;
  margin-right: 55px;
  cursor: pointer; }

.header-menu__login {
  text-decoration: none;
  color: white;
  margin-right: 55px;
  cursor: pointer; }

.sidebar {
  height: 90vh;
  width: 96px;
  background-color: #2f3242;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2); }

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

.sidebar-nav__link {
  margin-top: 35px; }

.sidebar-nav_active {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(202deg) brightness(300%) contrast(100%); }

.projects {
  width: 100%; }

.projects-container {
  max-height: 80vh;
  height: 100%;
  background-color: #292b3a; }

.project-titles {
  padding: 0 125px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh; }

.projects-wrapper {
  overflow-y: auto;
  max-height: 70vh;
  -ms-overflow-style: none; }

.projects-wrapper::-webkit-scrollbar {
  display: none; }

.project-titles__text {
  color: #9ea3b4;
  font-size: 16px; }

.project-container {
  display: flex;
  justify-content: space-between;
  background-color: #3a3e52;
  margin: 25px 25px 25px 60px;
  border-radius: 5px;
  padding: 0 30px 0 40px;
  height: 100px; }

.project-text__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 0; }

.project-text__subtitle {
  color: #9ea3b4;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0; }

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.project-text img {
  width: 42px;
  height: 42px; }

.project-text:nth-child(1) {
  max-width: 230px;
  width: 100%; }

.project-text:nth-child(2) {
  max-width: 70px;
  width: 100%; }

.project-text:nth-child(3) {
  max-width: 140px;
  width: 100%; }

.project-text:nth-child(4) {
  width: 100%;
  max-width: 100px; }

.project-progress .project-text {
  max-width: 45px;
  width: 100%;
  margin-right: 20px; }

.project-text:nth-child(6) {
  max-width: 120px;
  width: 100%; }

.project-text:nth-child(7) {
  max-width: 150px;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-left: 50px; }

.project-text:nth-child(7):before {
  position: absolute;
  content: '';
  height: 42px;
  width: 42px;
  display: block;
  left: 0;
  background: url("/photo-1.png") no-repeat center center; }

.project-text:nth-child(7) h2 {
  width: 100%;
  display: block; }

.project-progress {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.project-progress progress[value] {
  width: 180px;
  height: 8px;
  border-radius: 4px;
  background-color: #9ea3b4; }

.project-progress progress[value]::-webkit-progress-bar {
  background-color: #585c6f;
  border-radius: 4px; }

.project-progress progress[value]::-webkit-progress-value {
  border-radius: 4px;
  background-color: #2196f3; }

.project-progress progress[value="100"]::-webkit-progress-value {
  background-color: #4caf50; }

.project-options {
  display: flex;
  justify-content: center;
  align-items: center; }

.project-options__dots {
  height: 16px;
  width: 4px;
  background: url("../../images/dots.png") no-repeat center center;
  border: none;
  cursor: pointer; }

.page-menu {
  height: 10vh;
  width: 100%;
  background-color: #2196f3;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.page-links {
  display: flex;
  max-height: 20px;
  margin-left: 62px; }

.page-links__item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  text-decoration: none;
  color: #2b2d3c; }

.page-links__item:nth-child(1) {
  color: white; }

.page-filter {
  display: flex;
  margin-right: 62px;
  align-items: center; }

.page-filter__text {
  margin-right: 25px;
  color: #ffffff;
  font-size: 16px; }

.page-filter__select {
  height: 36px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2196f3;
  padding: 0px 20px 0 20px; }

.messages-container {
  background-color: #2f3242; }

.project-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center; }

.modal-body {
  background-color: #2f3242;
  width: 600px;
  height: 700px;
  border-radius: 10px;
  position: relative; }

.close-wrapper {
  position: absolute;
  right: 0; }

.close-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .close-button > div {
    position: relative; }
  .close-button-block {
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden; }
    .close-button-block:before, .close-button-block:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(55% - 4px);
      display: block;
      width: 4px;
      height: 25px;
      transform-origin: bottom center;
      background: white;
      transition: all ease-out 280ms; }
    .close-button-block:last-of-type {
      transform: rotate(180deg); }
  .close-button .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg); }
  .close-button .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg); }
  .close-button .out {
    position: absolute;
    top: 0;
    left: 0; }
    .close-button .out .close-button-block:before {
      transform: translateX(-5px) translateY(5px) rotate(45deg); }
    .close-button .out .close-button-block:after {
      transform: translateX(5px) translateY(5px) rotate(-45deg); }
  .close-button:hover .in .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg); }
  .close-button:hover .in .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg); }
  .close-button:hover .out .close-button-block:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg); }
  .close-button:hover .out .close-button-block:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg); }

.form__submit {
  margin-top: 35px;
  max-width: 150px;
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 18px;
  border: none;
  font-size: 16px;
  margin-bottom: 35px; }

.modal-body__title {
  text-align: center;
  color: white;
  margin-top: 100px; }

.project-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.loader-wrapper {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.authorization {
  background-color: #2f3242;
  width: 100%;
  height: 90vh; }

.authorization-wrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto; }

.authorization__text {
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 70px; }

.login-email {
  max-width: 100px;
  width: 100%; }

.incorrect-data {
  color: red;
  display: none; }

.authorization__link {
  text-decoration: none;
  color: white; }

.authorization-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.login-form__label {
  color: white; }

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 70%; }

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s; }
  .form__field::placeholder {
    color: transparent; }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px; }

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b; }

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1; }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700; }

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none; }

.form__submit {
  margin-top: 35px;
  max-width: 150px;
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 18px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 35px;
  cursor: pointer; }

.form__submit:focus {
  outline: none; }

.form__message {
  color: red;
  font-size: 12px; }

.messages-container {
  width: 100%;
  height: auto; }

.messages-menu {
  height: 10vh;
  width: 100%;
  background-color: #2196f3;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.messages-links {
  display: flex;
  max-height: 20px;
  margin-left: 62px; }

.messages-menu__link {
  display: flex;
  align-items: center;
  margin-right: 40px;
  text-decoration: none; }

.messages-menu__img {
  max-width: 100%;
  height: auto;
  margin-right: 12px; }

.messages-menu__text {
  color: #2b2d3c; }

.messages-filter {
  display: flex;
  margin-right: 62px;
  align-items: center; }

.messages-filter__text {
  margin-right: 25px;
  color: #ffffff;
  font-size: 16px; }

.messages-filter__select {
  height: 36px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2196f3;
  padding: 0px 20px 0 20px; }

.messages-container {
  background-color: #2f3242; }

.messages-users {
  max-width: 537px;
  background-color: #2a2c3b;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  overflow-y: hidden;
  width: 100%;
  position: relative; }

.messages-users__wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70vh; }

.messages-user {
  border-top: 1px solid rgba(156, 161, 178, 0.3);
  border-bottom: 1px solid rgba(156, 161, 178, 0.3);
  padding: 40px 25px 35px 60px;
  max-height: 195px;
  cursor: pointer; }

.messages-user_active {
  background-color: #2f3242; }

.messages-user__wrapper {
  display: flex;
  align-items: center;
  max-height: 42px; }

.messages-user__name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-left: 15px; }

.messages-user__time {
  color: #2196f3;
  font-size: 14px;
  margin-left: auto; }

.messages-user__text {
  color: #9ca1b2;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 45px;
  line-height: 24px; }

.messages-conversation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 115px; }

.messages-conversation__button {
  padding: 16px 0 20px 0;
  max-width: 300px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #2196f3;
  border: none;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  transition: 0.2s; }

.messages-conversation__button:hover {
  background-color: #21c2f3; }

.messages-conversation__button:before {
  content: '+';
  margin-right: 14px; }

.messages-wrapper {
  display: flex;
  height: 80vh; }

.messages-chatMessages {
  padding: 0 20px 0 20px;
  overflow-y: auto;
  max-height: 70vh; }

.messages-chat {
  max-width: 970px;
  width: 100%;
  height: 100%;
  position: relative; }

.messages-sender, .messages-receiver {
  display: flex;
  align-items: center;
  padding: 25px 0 25px 0; }

.messages-sender__avatar, .messages-receiver__avatar {
  max-height: 56px;
  width: 56px;
  margin-right: 30px; }

.messages-receiver__avatar {
  margin-right: 0;
  margin-left: 30px; }

.messages-sender__wrapper, .messages-receiver__wrapper {
  max-width: 480px; }

.messages-receiver__wrapper {
  margin-left: auto; }

.messages-sender__text, .messages-receiver__text {
  padding: 20px 30px 20px 20px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  background-color: #404359;
  color: #ffffff;
  font-size: 16px;
  overflow-wrap: break-word; }

.messages-receiver__text {
  background-color: #2196f3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px; }

.messages-sender__date, .messages-receiver__date {
  margin-top: 10px;
  margin-bottom: 0;
  color: #9ca1b2;
  font-size: 14px;
  text-align: left; }

.messages-receiver__date {
  text-align: right; }

.messages-chat__nothing {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30%;
  color: white; }

.messages-chat__textarea {
  max-width: 925px;
  width: 100%;
  background-color: #404359;
  outline: none;
  resize: none;
  color: white;
  overflow: auto;
  border: 1px solid rgba(156, 161, 178, 0.3);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 18px 20px 0 20px;
  font-size: 16px;
  margin: 0 25px 0 25px; }

.messages-chat__inputwrap {
  display: none;
  align-items: center;
  position: absolute;
  margin-top: 20px;
  width: 100%;
  bottom: 15px; }

.messages-chat__textarea::placeholder {
  font-size: 16px;
  color: #9ca1b2;
  opacity: 1;
  /* Firefox */ }

.messages-chat__textarea::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 16px;
  color: #9ca1b2; }

.messages-chat__textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 16px;
  color: #9ca1b2; }

.messages-chat__send {
  /*background: url("../assets/images/attachment.png") no-repeat center center;*/
  width: 20px;
  height: 17px;
  border: none;
  position: absolute;
  right: 40px; }

.messages-senderinfo {
  max-width: 318px;
  width: 0;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  background-color: #2b2d3c;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.messages-senderinfo::-webkit-scrollbar,
.messages-senderinfo::-webkit-scrollbar-thumb,
.messages-senderinfo::-webkit-scrollbar-track {
  display: none; }

.messages-senderinfo__contact, .messages-senderinfo__contact-text,
.messages-senderinfo__describe, .messages-senderinfo__name,
.messages-senderinfo__position {
  overflow-wrap: break-word;
  max-width: 70%; }

.messages-senderinfo__avatar {
  margin-top: 60px; }

.messages-senderinfo__name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin: 40px 0 10px 0; }

.messages-senderinfo__position {
  margin-top: 0;
  color: #9ea3b4;
  font-size: 16px;
  font-weight: 400; }

.messages-senderinfo__describe, .messages-senderinfo__contact {
  max-width: 275px;
  margin: 0 auto;
  color: #9ca1b2; }

.messages-senderinfo__describe {
  margin-bottom: 55px; }

.messages-senderinfo__contact-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px; }

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

.custom-scrollbar::-webkit-scrollbar {
  border-radius: 10px;
  width: 6px;
  background-color: #F5F5F5; }

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2b2d3c; }
