.messages-container {
  width: 100%;
  height: auto;
}
.messages-menu {
  height: 10vh;
  width: 100%;
  background-color: #2196f3;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.messages-links {
  display: flex;
  max-height: 20px;
  margin-left: 62px;
}

.messages-menu__link {
  display: flex;
  align-items: center;
  margin-right: 40px;
  text-decoration: none;
}

.messages-menu__img {
  max-width: 100%;
  height: auto;
  margin-right: 12px;
}

.messages-menu__text {
  color: #2b2d3c;
}

.messages-filter {
  display: flex;
  margin-right: 62px;
  align-items: center;
}

.messages-filter__text {
  margin-right: 25px;
  color: #ffffff;
  font-size: 16px;
}

.messages-filter__select {
  height: 36px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2196f3;
  padding: 0px 20px 0 20px;
}
.messages-container {
  background-color: #2f3242;
}

.messages-users {
  max-width: 537px;
  background-color: #2a2c3b;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  overflow-y: hidden;
  width: 100%;
  position: relative;

}

.messages-users__wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70vh;
}

.messages-user {
  border-top: 1px solid rgba(156, 161, 178, 0.3);
  border-bottom: 1px solid rgba(156, 161, 178, 0.3);
  padding: 40px 25px 35px 60px;
  max-height: 195px;
  cursor: pointer;
}

.messages-user_active {
  background-color: #2f3242;

}


.messages-user__wrapper {
  display: flex;
  align-items: center;
  max-height: 42px;
}

.messages-user__name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-left: 15px;
}

.messages-user__time {
  color: #2196f3;
  font-size: 14px;
  margin-left: auto;
}

.messages-user__text {
  color: #9ca1b2;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 45px;
  line-height: 24px;
}
.messages-conversation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 115px;

}
.messages-conversation__button {
  padding: 16px 0 20px 0;
  max-width: 300px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #2196f3;
  border: none;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  transition: 0.2s;
}

.messages-conversation__button:hover {
  background-color: #21c2f3;
}

.messages-conversation__button:before {
  content: '+';
  margin-right: 14px;
}

.messages-wrapper {
  display: flex;
  height: 80vh;
}

.messages-chatMessages {
  padding: 0 20px 0 20px;
  overflow-y: auto;
  max-height: 70vh;
}

.messages-chat {
  max-width: 970px;
  width: 100%;
  height: 100%;
  position: relative;
}

.messages-sender, .messages-receiver {
  display: flex;
  align-items: center;
  padding: 25px 0 25px 0;
}

.messages-sender__avatar, .messages-receiver__avatar {
  max-height: 56px;
  width: 56px;
  margin-right: 30px;
}

.messages-receiver__avatar {
  margin-right: 0;
  margin-left: 30px;
}

.messages-sender__wrapper, .messages-receiver__wrapper {
  max-width: 480px;
}

.messages-receiver__wrapper {
  margin-left: auto;
}
.messages-sender__text, .messages-receiver__text {
  padding: 20px 30px 20px 20px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  background-color: #404359;
  color: #ffffff;
  font-size: 16px;
  overflow-wrap: break-word;
}

.messages-receiver__text {
  background-color: #2196f3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
}
.messages-sender__date, .messages-receiver__date {
  margin-top: 10px;
  margin-bottom: 0;
  color: #9ca1b2;
  font-size: 14px;
  text-align: left;
}

.messages-receiver__date {
  text-align: right;
}

.messages-chat__nothing {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30%;
  color: white;
}

.messages-chat__textarea {
  max-width: 925px;
  width: 100%;
  background-color: #404359;
  outline: none;
  resize: none;
  color: white;
  overflow: auto;
  border: 1px solid rgba(156, 161, 178, 0.3);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 18px 20px 0 20px;
  font-size: 16px;
  margin: 0 25px 0 25px;
}

.messages-chat__inputwrap {
  display: none;
  align-items: center;
  position: absolute;
  margin-top: 20px;
  width: 100%;
  bottom: 15px;
}

.messages-chat__textarea::placeholder {
  font-size: 16px;
  color: #9ca1b2;
  opacity: 1; /* Firefox */
}

.messages-chat__textarea::-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 16px;
  color: #9ca1b2;
}

.messages-chat__textarea::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 16px;
  color: #9ca1b2;
}

.messages-chat__send {
  /*background: url("../assets/images/attachment.png") no-repeat center center;*/
  width: 20px;
  height: 17px;
  border: none;
  position: absolute;
  right: 40px;
}

.messages-senderinfo {
  max-width: 318px;
  width: 0;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  background-color: #2b2d3c;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages-senderinfo::-webkit-scrollbar,
.messages-senderinfo::-webkit-scrollbar-thumb,
.messages-senderinfo::-webkit-scrollbar-track {
  display: none;
}

.messages-senderinfo__contact, .messages-senderinfo__contact-text,
.messages-senderinfo__describe, .messages-senderinfo__name,
.messages-senderinfo__position {
  overflow-wrap: break-word;
  max-width: 70%;
}

.messages-senderinfo__avatar {
  margin-top: 60px;
}

.messages-senderinfo__name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin: 40px 0 10px 0;
}

.messages-senderinfo__position {
  margin-top: 0;
  color: #9ea3b4;
  font-size: 16px;
  font-weight: 400;
}

.messages-senderinfo__describe, .messages-senderinfo__contact {
  max-width: 275px;
  margin: 0 auto;
  color: #9ca1b2;
}

.messages-senderinfo__describe {
  margin-bottom: 55px;
}

.messages-senderinfo__contact-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
